<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>nmcginn.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        nav {
            font-size: 0.9em;
            margin-bottom: 2em;
            color: #888;
        }
        nav a { margin-right: 1em; }
        img {
            max-width: 95%;
        }
        @media screen and (prefers-color-scheme: dark) {
            :root {
                background-color: #232323;
                color: #d0d0d0;
            }
            pre {
                overflow-x: scroll;
            }
            a:link, a:hover {
                color: #6495ed;
            }
            a:active, a:visited {
                color: #a37af9;
            }
            img {
                opacity: 0.75;
                transition: opacity .5s ease-in-out;
            }
            img:hover {
                opacity: 1;
            }
            nav {
                color: #666;
            }
        }
    </style>
</head>
<body>
<nav><a href="/">home</a> <a href="/blog">blog</a></nav>
{{{ content }}}
</body>
</html>