<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Adventures of a unix hacker trapped in a data scientist's body">

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="/images/whiskey.ico">
    <script type="text/javascript">
      function showHideElement(id) {
        var nav = document.getElementById(id);
        if (nav.style.display !== 'none' && nav.style.display !== '') {
          nav.style.display = 'none';
        } else {
          nav.style.display = 'block';
        }
      }
    </script>

    <title>nmcginn.com {% if page.title %} - {{page.title}}{% endif %}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/odstderek/odstderek">View on GitHub</a>

          <h1 id="project_title">nmcginn.com</h1>
          <h2 id="project_tagline">clever tagline here</h2>

          <div class="small-device-nav" onclick="showHideElement('sidebar-small')">
            <img src = "/images/hamburger.png" />
          </div>

          <div id="sidebar-small" class="inner">
            {% for category in site.categories reversed %}
            <div style="color:white;font-weight:700">{{category | first}}</div>
              {% for posts in category %}
                {% for post in posts reversed %}
                  <div style="margin-left:10px">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                  </div>
                {% endfor %}
              {% endfor %}
            {% endfor %}
          </div>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner">
          <span style="position:absolute;right:0;top:0">{{ page.date | date: '%B %d, %Y' }}</span>
          {{content}}
        </section>
    </div> 
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">nmcginn.com © {{ site.time | date: '%Y' }} All rights reserverd.</p>
      </footer>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55171430-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
